<!DOCTYPE html>

{% extends "centerapp/base.html" %}
{% load static %}
{% block body_block %}

<!-- =====================      Main     =============================  -->

<div class="para1">
    <div class="row">
        <span class="heading text-center animated rollIn">
            About
        </span>
    </div>
</div>


<section class="bg-light hp-about animated slideInLeft">
    <hr>
    <div class="row">

        <div class="col-lg-9">

            <span class="text-black"> About |</span> <span class="chap-des">
                Stefan Trinh <i></i></span>
            <p class="">
                Developer based in the West London. I take passion and pleasure in making something out of
                nothing with nothing more than a keyboard and mouse and forgetting to sleep while doing it.
                Time and time again I get lost in the code and don't want to stop till the job is done and
                seeing a finished project after weeks and months of hardwork is what drives me.</p>

            {% comment %}
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-2 text-center">
            <img src="{%static 'pictures/profilepic.png' %}" class="text-center" alt="" height="200">
        </div>
    </div>

    {% comment %} <h2 class="my-4 text-right">Where it started?</h2>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8 text-right">
            <p class="">
                There were a series of events that led me to pursing a career in programming. Not exciting by any means
                probably even a common path.
                it began with conversational discussion about career opportunities and how software development is a
                progressive field to enter. This was further
                enchanced by talking to many clients who were developers, I found that they all appear to have a
                passion for their careers and really enjoy what
                they do and with a few making encouraging suggestions to pursue a career in software development. I
                then began to experiement with code.</p>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-lg-7">{% endcomment %}
            <hr>
            <h3 class="mb-4"> what's in the stack?</h3>
            <p class="">
                it started with Python - "Press tab.... A passion for readable code". With Python I learnt how to
                maniuplate data structures.
                I then drifted towards Web development and working with frontend technologies, first cementing down the
                basics of HTML, CSS, Javascript and JQuery .</p>
            <p>
                However Frontend alone is limited and I wanted a deeper overall understanding web development. With my
                strong background in python from creating command line
                projects and my desire for web development. I decided to push towards the web framework - Django.
                *ReactJS is the next Library I will be pursuing.</p>
        </div>
        {% comment %} <div class="col-lg-1"></div> {% endcomment %}
        <div class="col-lg-3">
            <strong class="text-success">Frontend</strong>
            <li>HTML, CSS, SASS,</li>
            <li>Bootstrap 4, CSS Animation</li>
            <li>Javascript, Jquery</li>
            <li>Mobile Responsive Web Design</li>
            <Strong class="text-success">Backend</Strong>
            <li>Python - OOP</li>
            <li>Django 2.0+</li>
            <li>SQL Lite (pending)</li>
            <Strong class="text-success">Extras</Strong>
            <li>Git</li>
            <li>Mac OS</li>
        </div>
    </div>
    <hr>




</section>


<div class="para2">
    <div class="d-flex justify-content-center">
        <div class="container my-5 banner-header">
            <h2 class="text-center text-warning">My Projects</h2><br>
            <p class="text-white">
                All of my Projects are stored in the Z Drive. It contains a portfolio of
                projects I have completed or am currently working on. This is where you
                will find links to the projects with information about the construction
                and the background with a gallery of images displaying the project. </p>

            <a href="{% url 'zdrive' %}"><button type="button" class="btn btn-outline-warning my-4">To My Projects ></button></a>
        </div>
    </div>


</div>


<section class="bg-dark p-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 mt-4">
                <span class="chap-title mr-3"> Additional Skills</span>
            </div>
            <div class="col-xl-10 mt-4 banner-header">
                <h6>Adobe Photoshop</h6>
                <h6>SLR Photography</h6>
                <h6>An Intermediate Understanding of SEO</h6>
                <h6>Logo and Icon Design</h6>
                <h6>Python Anywhere, BlueHost & 1&1 Web hosting services.</h6>
            </div>

        </div>
    </div>

</section>


<div class="para3">

    <div class="container">
        <div class="pt-3">
            <h2 class="text-center text-warning banner-header">Connect With Me</h2><br>
            <div class="container">
                <div class="d-flex flex-nowrap justify-content-center">
                    <div class="mx-2">
                        <a href="https://github.com/stefantrinh1" target="_blank"><img class="banner d-block w-100" src="{%static 'logos/githubbanner.png' %}"
                                alt=""></a>
                    </div>
                    <div class="mx-2">
                        <a href="https://www.linkedin.com/in/stefan-trinh-6a223262/" target="_blank"><img class="banner d-block w-100"
                                src="{%static 'logos/linkedinbanner.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

</div>

<section class="bg-info p-5">
    <div class="row">
        <div class="col-lg-2">
            <span class="chap-title mr-3"> Education</span>
        </div>
        <div class="col-lg-8">
            <h6>Kingston University</h6>
            <h6>Bachelor of Science (BSc)</h6>
            <h6>Economics | Upper Second Class (Hons)</h6>
            <h6>2009 – 2012</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
            <hr>
            <h6>Stretford Grammer Sixth Form</h6>
            <h6>GCE A Level - AQA</h6>
            <h6>Business Studies | Information and Communications Technology | Design Technology</h6>
            <h6>2007 – 2009</h6>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
            <hr>
            <h6>Ashton On Mersey High School</h6>
            <h6>GCSE's | AQA, Edexcel, WJEC | Grades A*-Cs</h6>
            <h6>English Language and Literature | Mathematics | Double Science Award | ICT | Business Studies | Food
                Technology | Geography</h6>
            <h6>2002 – 2007</h6>
        </div>

    </div>

</section>

<div class="para4">
    <br>
    <div class="container banner-header">
        <h2 class="text-center text-warning"><u>Career History</u></h2>
        <div class="text-light">
            <h6 class="mt-4">Senior Sales Consultant</h6>
            <h6>Robertson Smith & Kempson Estate Agents</h6>
            <h6>Dates Employed - <span class="text-info"> July 2012 – Present</span></h6>
            <h6>Location - <span class="text-info">Hanwell/Northfields, London</span></h6>
            <p>
                Part of the Dexters Group - The role consists of consultation and negotiation.
                I would be in regular contact with clients discussing their criteria and recommending
                suitable properties for them. The role also provides an intermediate between vendors and customers,
                allowing price negotiations to be held independently. Market research and poaching were tasks assigned
                to me;
                this involved researching into competitor’s properties and attempting to poach potential business from
                them.
            </p>
        </div>
        <hr class="my-4">
        <div class="text-light">
            <h6 class="mt-4">Viewing Assistant</h6>
            <h6>Dexters Estate Agent Group</h6>
            <h6>Dates Employed - <span class="text-info"> Nov 2010 – Jun 2012</span></h6>
            <h6>Location - <span class="text-info">Twickenham/Isleworth, Middlesex</span></h6>
            <p>
                I operated on a strict time schedule and led viewings in properties with clients. During the viewings I
                was
                required to give a tour and provide detailed information about the property. My role also included
                discussion
                with negotiators and providing comprehensive feedback of viewings.
            </p>
        </div>

        <hr class="my-4">
        <div class="text-light">
            <h6 class="mt-4">Sales Assistant</h6>
            <h6>WHSmith</h6>
            <h6>Dates Employed - <span class="text-info">Sep 2009 – Jun 2010</span></h6>
            <h6>Location - <span class="text-info">Kingston Upon Thames, Surrey</span></h6>
            <p>
                My main role was to operate the sales point, help customers with any enquires and ensure displays were
                presentable
                and stocked. At times I would be required to work in the Bureau de Change to cover breaks or staff
                shortages.
            </p>
        </div>

        <hr class="my-4">
        <div class="text-light">
            <h6 class="mt-4">Counter Clerk</h6>
            <h6>Post Office Financial and Travel Services</h6>
            <h6>Dates Employed - <span class="text-info">Sep 2007 – Sep 2009</span></h6>
            <h6>Location - <span class="text-info">Trafford Centre, Manchester</span></h6>

            Solely managing the Bureau de Change. My role was to open the Bureau and serve customers throughout the
            day,
            whilst filing daily reports of operations/performance and manage currency stock. At times when the WHSmith
            store was busy,
            I would handle and divert incoming telephone calls to the correct departments. I was also responsible for
            closing, where I
            was required to recount, balance all currency stocks and figures and fully secure the premises following
            the counts.

        </div>

    </div>
    <br>
</div>



{% endblock body_block %}