<!DOCTYPE html>

{% extends "centerapp/base.html" %}
{% load static %}
{% block body_block %}

<div class="container">
    <br>
    <h2>Creditations and Acknowledgements</h2>
    <br>
    <table class="acknowledgements">
        <tr>
            <td class="text-center bg-warning" colspan="2">
                <h5>People</h5>
            </td>
        </tr>
        <tr>
            <td>Peter Sefton</td>
            <td><a href="https://www.peterseftongolf.com"></a> www.peterseftongolf.com</td>
        </tr>
        <tr>
            <td></td>
            <td><a href="https://www.peterseftongolf.com"></a> www.peterseftongolf.com</td>
        </tr>



        <tr>
            <td class="text-center bg-warning" colspan="2">
                <h5>Pictures</h5>
            </td>
        </tr>
        <tr>
            <td><img src="{%static 'pictures/projectbanners/stefantrinhbanner.jpg' %}" alt="" height=50px></td>
            <td><a href="https://www.pexels.com/photo/architecture-buildings-business-city-417411/" target="__blank">Stefantrinh.co.uk
                    Portfolio Banner Photo</a></td>
        </tr>
        <tr>
            <td><img src="{%static 'pictures/projectbanners/objectmovebanner2.jpg' %}" alt="" height=50px></td>
            <td><a href="https://www.pexels.com/photo/wall-clock-at-5-50-707582/" target="__blank">Object Move
                    Portfolio Banner Background Photo</a></td>
        </tr>
        <tr>
            <td><img src="{%static 'pictures/projectbanners/bankinterfacebanner2.jpg' %}" alt="" height=50px></td>
            </td>
            <td><a href="https://www.pexels.com/photo/two-person-wearing-gray-and-blue-suits-1020313/" target="__blank">Bank
                    Interface Portfolio Banner Background Photo</a></td>
        </tr>
        <tr>
            <td><img src="{%static 'css/images/urbandesk.jpeg' %}" alt="" height=50px></td>
            </td>
            <td><a href="https://www.pexels.com/photo/grayscale-photo-of-computer-laptop-near-white-notebook-and-ceramic-mug-on-table-169573/"
                    target="__blank">Urban Desk Parallax Photo</a></td>
        </tr>
        <tr>
            <td><img src="{%static 'css/images/coffeework.jpeg' %}" alt="" height=50px></td>
            </td>
            <td><a href="https://www.pexels.com/photo/background-beverage-breakfast-brown-414645/" target="__blank">Coffee
                    Parallax Photo</a></td>
        </tr>
        <tr>
            <td><img src="{%static 'css/images/Guide To Visiting India.jpeg' %}" alt="" height=50px></td>
            </td>
            <td><a href="https://www.pexels.com/photo/taj-mahal-india-1260801/" target="__blank">Taj Mahal Photo</a></td>
        </tr>
        <tr>
            <td><img src="{%static 'css/images/How To Choose Tennis Strings.jpeg' %}" alt="" height=50px></td>
            </td>
            <td><a href="https://www.pexels.com/photo/ball-court-design-game-209977/" target="__blank">Tennis Court &
                    Racquet Photo</a></td>
        </tr>
        <tr>
            <td><img src="{%static 'css/images/headphones.jpeg' %}" alt="" height=50px></td>
            </td>
            <td><a href="https://www.pexels.com/photo/black-headset-hanging-on-black-and-gray-microphone-185030/"
                    target="__blank">Headphone and Microphone Parallax Photo</a></td>
        </tr>
        <tr>
            <td><img src="{%static 'css/images/windowcoffee.jpeg' %}" alt="" height=50px></td>
            </td>
            <td><a href="https://www.pexels.com/photo/blur-coffee-cold-cup-209500/" target="__blank">Coffee and Window
                    Parallax Photo</a></td>
        </tr>
        <tr>
            <td><img src="{%static 'pictures/projectbanners/connect4.jpg' %}" alt="" height=50px></td>
            </td>
            <td><a href="https://www.pexels.com/photo/yellow-bokeh-photo-949587/" target="__blank">Coffee and Window
                    Parallax Photo</a></td>
        </tr>




        <tr>
            <td class="text-center bg-warning" colspan="2">
                <h5>Icons</h5>
            </td>
        </tr>
        <tr>
            <td><img src="{%static 'logos/backicon.png' %}" height=50px></td>
            <td><a href="https://icons8.com" target="__blank">Icon pack by Icons8</a></td>
        </tr>
        <tr>
            <td><img src="{%static 'logos/arrowdown.png' %}" height=50px></td>
            <td><a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
                    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
                    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></td>
        </tr>

    </table>
    <br>
</div>

{% endblock %}