<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Stefan Trinh | Web Developer In West London. | Z Drive - Portfolio | Blog | Web Design |" />

  <title>Stefan Trinh</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'css/default.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css"
    media="screen" charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{%static 'logos/zdrivefavicon.ico' %}" />

</head>

<body>
  {% comment %} <div class="text-center alert alert-danger alert-dismissible fade show fixed-bottom" role="alert">
    Page Currently Under Construction!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> {% endcomment %}

  <!-- =====================      Nav Bar      =============================  -->

  <nav class="navbar navbar-expand-lg navbar-light ml-auto fixed-top w-50 animated zoomIn">

    <a class="navbar-brand" href=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-items ml-auto text-center">
        <li class="nav-item active px-2">
          <a class="nav-link text-warning animated bounce" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-warning animated bounce" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-warning animated bounce" href="{% url 'zdrive' %}">Portfolio</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-warning animated bounce" href="{% url 'post_list' %}">Blog</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-warning animated bounce" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>

  </nav>


  {% block body_block %}

  {% endblock %}



  <section class="footer bg-dark pt-2">

    <div class="container pt-3">
      <a class="" href="mailto:stefan@stefantrinh.co.uk">
        <button type="button" class="btn-contact mb-3" name="button">Email Me</button></a>


      <div class="footer-vertical-line"></div>
      <div class="icon-group">
        <a href="https://github.com/stefantrinh1" target="_blank"><img class="social-icon" src="{%static 'logos/githublogowarning.png' %}"
            alt="Github"></a>
        <!-- <a href="https://www.facebook.com/Stefantrinh1" target="_blank"><img class="social-icon" src="{%static 'logos/facebooklogowarning.png' %}" alt="Facebook"></a> -->
        <!-- <a href="https://www.instagram.com/stefantrinh/" target="_blank"><img class="social-icon" src="{%static 'logos/instagramlogowarning.png' %}" alt="Instagram"></a> -->
        <a href="https://www.linkedin.com/in/stefan-trinh-6a223262/" target="_blank"><img class="social-icon" src="{%static 'logos/linkedinlogowarning.png' %}"
            alt="Linkedin"></a>
        <a href="https://twitter.com/Stefantrinh" target="_blank"><img class="social-icon" src="{%static 'logos/twitterlogowarning.png' %}"
            alt="Twitter"></a>
        <!-- <a href="https://www.youtube.com/channel/UCRa8XzgTayu_ooGKYxynvAw?view_as=subscriber" target="_blank"><img class="social-icon" src="{%static 'logos/youtubelogowarning.png' %}" alt="YouTube"></a> -->
      </div>
      <div class="footer-vertical-line"></div>
      <nav class="footer-menu mt-1">
        <a class="footer-menu-items" href="{% url 'index' %}">Home</a>
        <a class="footer-menu-items" href="{% url 'about' %}">About</a>
        <a class="footer-menu-items" href="{% url 'zdrive' %}">Z Drive</a>
        <a class="footer-menu-items" href="{% url 'post_list' %}">Blog</a>
        <a class="footer-menu-items" href="{% url 'contact' %}">Contact</a>
      </nav>

      <div class="footer-line"></div>

      <nav class="footer-menu">
        <span class="footer-menu-items" href="">© Stefan Trinh 2018.</span>
        <a class="footer-menu-items" href="#">Terms and Conditions</a>
        <a class="footer-menu-items" href="#">Privacy Policy</a>
        <a class="footer-menu-items" href="{% url 'acknowledgements' %}">Acknowledgments</a>
      </nav>


    </div>


  </section>




  <!-- =====================      Scripts       =============================  -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
  <script>
    var editor = new MediumEditor('.editable');
  </script>
  <script src="{%static 'js/main.js' %}"></script>
  <script data-cfasync="false" type="text/javascript" src="{%static 'js/form-submission-handler.js' %}"></script>




</body>

</html>

{% comment %} credits {% endcomment %}
{% comment %} <a href="https://icons8.com">Icon pack by Icons8</a> {% endcomment %}
{% comment %} picture= https://www.pexels.com/photo/architecture-buildings-business-city-417411/ {% endcomment %}
{% comment %} https://www.pexels.com/photo/wall-clock-at-5-50-707582/ {% endcomment %}
{% comment %} https://www.pexels.com/photo/two-person-wearing-gray-and-blue-suits-1020313/ {% endcomment %}
{% comment %} <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a></div> {% endcomment %}