<!DOCTYPE html>

{% extends "centerapp/base.html" %}

{% load static %}
{% block body_block %}


<section class="bg-light animated zoomIn">
  <div class="row">
    <div class="col-lg-9 bg-warning opa90 p-5">
      <h1 class="my-2"> Contact Me</h1>
      <hr class="">
      <p class="mt-2"> I am happy to answer any further questions you may have. If you need a copy of my CV, references
        or any further information about me and my projects, please get in contact via the contact form or one of the
        following email address. I am looking forward to hear from you.</p>
      <br>

      <h3>Contact Form</h3>

      <form class="gform" method="POST" action="https://script.google.com/macros/s/AKfycby2-fZvzBrby7pTW-I13wb2IIEIK9-NPWnFus9oDA/exec">

        <div class="form-group">
          <!-- <label for="exampleInputEmail1">Name</label><br> -->
          <input type="text" class="form-control fullname" name="fullname" placeholder="Enter Full Name">
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputEmail1">Contact Number</label><br> -->
          <input type="tel" class="form-control contactnumber" name="contactnumber" placeholder="Enter Contact Number">
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputEmail1">Email Address</label> -->
          <input type="email" class="form-control emailaddress" name="emailaddress" aria-describedby="emailHelp"
            placeholder="Enter Email Address">
        </div>
        <div class="form-group">
          <!-- <label for="exampleFormControlTextarea1">Comments</label> -->
          <textarea class="form-control comments" name="comments" rows="4" placeholder="How Can I Help?"></textarea>
        </div>
        <select class="source custom-select custom-select-md" name="source">
          <option selected>How did you hear about Me</option>
          <option value="Google">Google</option>
          <option value="Recommended">Recommended</option>
          <option value="LinkedIn">LinkedIn</option>
          <option value="Github">Github</option>
          <!-- <option value="Facebook">Facebook</option> -->
          <!-- <option value="Instagram">Instagram</option> -->
          <!-- <option value="Twitter">Twitter</option> -->
          <option value="Recruitment Agency">Recruitment Agency</option>
          <option value="Other">Other</option>
        </select>
        <button type="submit" class="btn btn-outline-danger my-3">Submit</button>

        <div style="display:none;" class="thankyou_message text-center text-danger">
          <h2>Thank you for your Enquiry.</h2>
          <h4>I will be in to contact soon.</h4>

        </div>
      </form>
    </div>

    <div class="col-lg-3 text-center">

      <img class="center-item pt-1" src="{%static 'pictures/profilepic3.png' %}" alt="" height="275">

      <h1>Stefan Trinh</h1>
      <hr>
      <h6>stefan@stefantrinh.co.uk</h6>
      <h6>stefantrinh1.work@gmail.com</h6>
      <hr>
      <h6>Sunbury On Thames</h6>
      <h6>Middlesex</h6>
      <h6>TW16</h6>
      <h6>United Kingdom</h6>
      <hr>
      <a href="https://github.com/stefantrinh1" target="_blank"><img class="social-icon" src="{%static 'logos/githublogowarning.png' %}"
          alt="Github"> GitHub <br></a>
      <!-- <a href="https://www.facebook.com/Stefantrinh1" target="_blank"><img class="social-icon" src="{%static 'logos/facebooklogowarning.png' %}" alt="Facebook"> Facebook <br></a>  -->
      <!-- <a href="https://www.instagram.com/stefantrinh/" target="_blank"><img class="social-icon" src="{%static 'logos/instagramlogowarning.png' %}" alt="Instagram"> Instagram <br></a>  -->
      <a href="https://www.linkedin.com/in/stefan-trinh-6a223262/" target="_blank"><img class="social-icon" src="{%static 'logos/linkedinlogowarning.png' %}"
          alt="Linkedin"> Linkedin <br></a>
      <a href="https://twitter.com/Stefantrinh" target="_blank"><img class="social-icon" src="{%static 'logos/twitterlogowarning.png' %}"
          alt="Twitter"> Twitter <br></a>
      <hr>

    </div>
  </div>
</section>








{% endblock body_block %}