<!DOCTYPE html>

{% extends "centerapp/base.html" %}

{% load static %}
{% block body_block %}


<!-- =====================      Main     =============================  -->

<div class="para1">
  <div class="row">
    <span class="heading text-center animated zoomIn">

      Stefan Trinh

    </span>
  </div>
</div>

<section class="hp-about">

  <div class="container">
    <div class="row animated zoomIn">
      <div class="col-lg-7">
        <h3 class="pt-3"> Making Something Out of Nothing</h3>

        <p class="">
          A web developer based in the West London. I take passion and pleasure in making something out of nothing
          with nothing more than a keyboard and mouse and forgetting to sleep while doing it.
        </p>

        <a href="{% url 'about' %}"><button type="btn btn-outline-warning" class="btn btn-outline-warning animated slideInRight mb-3">More
            About Me and My Technical Stack</button></a>

      </div>

      <div class="col-lg-1">

      </div>

      <div class="col-lg-4 text-center">
        <img class="" src="{%static 'pictures/profilepic3.png' %}" alt="" width="250">
      </div>

    </div>
  </div>

</section>


<div class="para2">
  <div class="row">
    <div class="col-lg-12 text-center my-auto">
      <img class="zdrivetitle mt-1" src="{%static 'logos/ZDrive Logo.png' %}" alt="" width="300px">
    </div>
  </div>
</div>


<section class="bg-dark p-4">

  <div class="row">

    <div class="col-lg-8 text-white px-4">
      <h3 class="pt-5 pb-4">What is Z Drive?</h3>

      <p> Z Drive is the portfolio of projects I have completed or am currently working on. This is where you will find
        links to the projects with information about the construction and the background with a gallery of images
        displaying the project. </p>


      <a href="{% url 'zdrive' %}"><button type="button" class="btn btn-outline-warning mt-3">More Information</button></a>

    </div>

    <div class="col-lg-4 text-right">

      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/PS1.jpg' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/PS2.jpg' %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/PS3.jpg' %}" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/PS4.jpg' %}" alt="Fourth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/C4.png' %}" alt="Fifth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB1.jpg' %}" alt="Sixth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB2.jpg' %}" alt="Seventh slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB3.jpg' %}" alt="Eighth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB6.jpg' %}" alt="Ninth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/BI1.jpg' %}" alt="Ninth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/OM1.jpg' %}" alt="Tenth slide">
          </div>
        </div>
      </div>

    </div>
  </div>


</section>



<div class="para3">
  <div class="row">
    <span class="heading text-center">
      <span class="">
        The Blog
      </span>
    </span>
  </div>
</div>

<section class="bg-info p-4">
  <h3 class="my-4 px-4">Intelligant, Informative and Interesting</h3>

  <p class="px-4">Its true everyone has a blog these days, but writing keep the mind thinking critically. I share a
    little bit of my knowledge and opinions and make my contributions to the web. Anyway in the near future there will
    more posts in the blog section of the site. hope you look forward to reading it and much as I enjoy writing it.</p>

  <a class='my-4 px-4' href="{% url 'post_list' %}"><button type="button" class="btn btn-outline-warning">See Blog
      Posts</button></a>


  </p>


</section>

<div class="para4">
  <div class="container">
    <div class="d-flex flex-nowrap justify-content-center text-white">
      <div class="banner my-5 m-2 flex-fill">
        <div class="blogpost1">
          <p class="banner-header">Which Tennis Strings Should I Buy?</p><br>
          <a href="{% url 'post_detail' pk=1 %}"><button type="button" class="btn btn-outline-warning">Read More</button></a>
        </div>
      </div>

      <div class="banner my-5 m-2 flex-fill">
        <div class="blogpost2">
          <p class="banner-header">Noise Cancelling Headphones</p><br>
          <a href="{% url 'post_detail' pk=5 %}"><button type="button" class="btn btn-outline-warning">Read More</button></a>
        </div>
      </div>

      <div class="banner my-5 m-2 flex-fill">
        <div class="blogpost3">
          <p class="banner-header">Westerners Travel Guide to India</p><br>
          <a href="{% url 'post_detail' pk=2 %}"><button type="button" class="btn btn-outline-warning">Read More</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>



{% endblock body_block %}