<!DOCTYPE html>

{% extends "centerapp/base.html" %}

{% load static %}
{% block body_block %}

{% comment %} <section class="bg-transparent p-2 text-center opa75">


</section> {% endcomment %}


<div class="zdrivepara1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 underline animated zoomIn">
                <br>
                <h1 class=" portfolio-title">The Portfolio</h1>
                <h6 class="mb-2">Never Stop Creating..</h6>
            </div>
        </div>
        <br>

        {% comment %} The use of Flexboxs Keeps the banners the same size across all display sizes{% endcomment %}
        {% comment %} All Banners are a 4:2 Ratio at 16cm by 8cm {% endcomment %}
        {% comment %} (project-tile & name=".-projectseftongolf") These are important for the auto scroll to the
        project{% endcomment %}
        {% comment %} The Parent of the Banner images needs a relative position to keep the overlay contained within
        its parent. {% endcomment %}
        {% comment %} The overlay text had responsive text through the use of media queries {% endcomment %}
        <div class="d-flex flex-nowrap justify-content-center text-center">

            <div class="flex-fill relative">
                <img class="animated zoomIn relative img-fluid" src="{%static 'pictures/projectbanners/seftongolfbanner.jpg' %}"
                    alt="">
                <div class="banner-overlay project-tile" name=".project-seftongolf">
                    <div class="banner-text">
                        Peter Seton Golf <br>
                        <small>Golf Professional</small>
                    </div>
                </div>
            </div>

            <div class="flex-fill relative">
                <img class="animated zoomIn relative img-fluid" src="{%static 'pictures/projectbanners/connect4.jpg' %}"
                    alt="">
                <div class="banner-overlay project-tile" name=".project-connect4">
                    <div class="banner-text">
                        Connect 4 <br>
                        <small>Computer Game</small>
                    </div>
                </div>
            </div>

            <div class="flex-fill relative">
                <img class="animated zoomIn relative img-fluid" src="{%static 'pictures/projectbanners/stefantrinhbanner.jpg' %}"
                    alt="">
                <div class="banner-overlay project-tile" name=".project-stefantrinh">
                    <div class="banner-text">
                        Stefan Trinh <br>
                        <small>Personal Portfolio Site</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-nowrap justify-content-center relative text-center">


            <div class="flex-fill relative">
                <img class="animated zoomIn relative img-fluid" src="{%static 'pictures/projectbanners/bankinterfacebanner2.jpg' %}"
                    alt="">
                <div class="banner-overlay project-tile" name=".project-bankinterface">
                    <div class="banner-text">
                        Bank Interface <br>
                        <small>Bank Command Line Program</small>
                    </div>
                </div>
            </div>


            <div class="flex-fill relative">
                <img class="animated zoomIn relative img-fluid" src="{%static 'pictures/projectbanners/objectmovebanner2.jpg' %}"
                    alt="">
                <div class="banner-overlay project-tile" name=".project-objectmove">
                    <div class="banner-text">
                        Object Move <br>
                        <small>Functional Program</small>
                    </div>
                </div>
            </div>


            <div class="flex-fill relative">
                <img class="animated zoomIn relative img-fluid" src="{%static 'pictures/projectbanners/slrphotographybanner.jpg' %}"
                    alt="">
                <div class="banner-overlay project-tile" name="slrphotography">
                    <div class="banner-text">
                        SLR Photography <br>
                        <small>Images and Photoshop</small>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

<br>




<section class="opa75 p-2 bg-black text-center">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="animated slideInLeft my-2" id="projectscreen"> Z Drive</h1>
        </div>
    </div>

</section>

<div class="zdrivepara2">
    <div class="">

        <div class="p-5 bg-light opa90 text-dark animated slideInRight">

            <div class="project-seftongolf">
                <h2 class="text-center">Peter Sefton Golf</h2>

                <div class="row mt-4">
                    <div class="col-lg-6 p-3 px-4">
                        <a href="https://www.peterseftongolf.com/" target="_blank"><button type="btn btn-outline-warning"
                                class="btn btn-danger mb-4">Visit Project</button></a>
                        <a href="https://github.com/stefantrinh1/peterseftongolf" target="_blank"><button type="btn btn-outline-warning"
                                class="btn btn-danger mb-4">Github Repository</button></a>

                        <div class="d-flex">
                            <div class="flex-fill">
                                <h5 class="text-warning">Client</h5>
                                <small>Peter Sefton Golf</small>
                            </div>
                            <div class="flex-fill"></div>
                            <div class="flex-fill text-right">
                                <h5 class="text-warning">Website</h5>
                                <small>peterseftongolf.com</small>
                            </div>
                        </div>
                        <div class="text-center">
                            <h5 class="text-warning text-center mt-3">Technologies Used</h5>
                            <img src="{% static 'logos/stacklogos/html5logo.png' %}" class="tech-logo" alt="html5 logo"
                                width="35px">
                            <img src="{% static 'logos/stacklogos/CSS3logo.png' %}" class="tech-logo" alt="css3 logo"
                                width="35px">
                            <img src="{% static 'logos/stacklogos/jslogo.png' %}" class="tech-logo" alt="js logo" width="32px">
                            <img src="{% static 'logos/stacklogos/jquerylogo.png' %}" class="tech-logo" alt="jquery logo"
                                width=33px">
                            <img src="{% static 'logos/stacklogos/bootstraplogo.png' %}" class="tech-logo" alt="bootstrap logo"
                                width="40px">
                            <img src="{% static 'logos/stacklogos/gitlogo.png' %}" class="tech-logo" alt="git logo"
                                width="60px">
                            <img src="{% static 'logos/stacklogos/photoshoplogo.png' %}" class="tech-logo" alt="photoshop"
                                width="30px">
                        </div>
                        <hr>
                        <p>
                            This project is a website for a golf professional to market his services online and extend
                            his reach beyond the local area. He is a golf instructor based in Camberley, Surrey
                            offering
                            private and group lessons at Pine Ridge Golf Club.
                        </p>


                    </div>
                    <div class="col-lg-6 text-right">

                        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade " data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/PS1.jpg' %}"
                                        alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/PS2.jpg' %}"
                                        alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/PS3.jpg' %}"
                                        alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/PS4.jpg' %}"
                                        alt="Fourth slide">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-warning">Criteria</h5>
                        <p>
                            The client has a large customer base that have basic computer skills and requested a
                            simple recognisable website format that is extremely easy to navigate around where
                            users can locate read information easily. But at the same time he desired a high end
                            aesthetically pleasing site.</p><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="text-warning">Design and Graphics</h5>
                        <p>
                            High quality images are important in a high end simplistic website and I was involved in
                            the photography and carried out a photoshoot with Peter capturing photos for the website
                            Using a Canon SLR.
                            All the photos and logos were created and edited using photoshop before being deployed.</p>

                    </div>
                    <div class="col-lg-6">
                        <h5 class="text-warning">Key Features</h5>
                        <ul>
                            <li>Enquiry Form</li>
                            <li>Clear and Direct Display of Information</li>
                            <li>Leads To Be Directly Emailed To Client</li>
                            <li>Noticeable Customer Testimonals</li>
                            <li>Social Media Connections</li>
                            <li>Interactive Display of Lesson Types and Benefits</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-warning">The Technical Construction</h5>
                        <p> The creation of the website is mainly based on HTML, CSS and JavaScript. The HTML was built
                            on Bootstrap
                            and made use of its grid system, nav bars, carousals and many other formatting componants.
                            The CSS was standard, no preproccessors were used. Jquery was used to implement many
                            CSS alterations on mouseovers and display settings. The website was built with frontend
                            technologies. No backend was used.
                            The enquiry form uses google sheets as a webapp to send emails to the client when a enquiry
                            is made.
                            The website is hosted via a shared hosting server and SSL certificate provided using Let's
                            Encrypt

                            <br>
                            <h5 class="text-warning">Additional Assitance and Aftercare</h5>

                            <p>I also advised ways to improve his chances of been noticed online through SEO and
                                assisted in creating other marketing platforms for Peter on Google and Facebook.
                                I stressed the importance of traffic and google reviews to generate activity to the
                                client. Any small changes or updates required by the client are carried out by myself.
                            </p>

                    </div>
                </div>
            </div>


            <div class="project-connect4">

                <h2 class="text-center">Connect 4</h2>
                <div class="row mt-4">
                    <div class="col-lg-6 p-3 px-4">
                        <a href="https://stefantrinh1.github.io/Connect4/" target="_blank"><button type="btn btn-outline-warning"
                                class="btn btn-danger mb-4">Visit Project</button></a>
                        <a href="https://github.com/stefantrinh1/Connect4" target="_blank"><button type="btn btn-outline-warning"
                                class="btn btn-danger mb-4">Github Repository</button></a>
                        <div class="d-flex flex-nowrap">


                            <div class="flex-fill">
                                <h5 class="text-warning">Client</h5>
                                <small>Personal Project</small>
                            </div>
                            <div class="flex-fill"></div>
                            <div class="flex-fill text-right">
                                <h5 class="text-warning">Website</h5>
                                <small>stefantrinh1.github.io/Connect4</small>
                            </div>
                        </div>
                        <div class="text-center">
                            <h5 class="text-warning text-center mt-3">Technologies Used</h5>
                            <img src="{% static 'logos/stacklogos/html5logo.png' %}" class="tech-logo" alt="html5 logo"
                                width="35px">
                            <img src="{% static 'logos/stacklogos/CSS3logo.png' %}" class="tech-logo" alt="css3 logo"
                                width="35px">
                            <img src="{% static 'logos/stacklogos/jslogo.png' %}" class="tech-logo" alt="js logo" width="32px">
                            <img src="{% static 'logos/stacklogos/jquerylogo.png' %}" class="tech-logo" alt="jquery logo"
                                width=33px">
                            <img src="{% static 'logos/stacklogos/bootstraplogo.png' %}" class="tech-logo" alt="bootstrap 4 logo"
                                width="40px">
                            <img src="{% static 'logos/stacklogos/gitlogo.png' %}" class="tech-logo" alt="git logo"
                                width="60px">

                        </div>
                        <hr>

                        <p>This is a computerised version of the Connect 4 game. It requires two players at the same
                            computer to play the game. There are plans to implement in the future an option to play
                            against the computer.</p>

                    </div>
                    <div class="col-lg-6 text-right">

                        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade " data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/C4.png' %}"
                                        alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/C4-2.png' %}"
                                        alt="Second slide">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-warning">Technical Summary</h5>
                        <p>This project was part of a tutorial. However the solution is different to the tutorial.
                            The tutorial would check for a winning move by iterating through every cell in the table. I
                            felt this was the fastest way to code but I thought it could be made more efficient.
                            My method would on every move perform a winner check, but it would only check three cells
                            either side of the chosen cell for each direction.
                            It would check 7 cells for across, up and forward/backward diangonal. it checked 28 cells
                            in total instead of the whole table, columns and rows.
                        </p><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <h5 class="text-warning">Design and Graphics</h5>
                        <p>
                            The graphical design was a relatively simple using basic HTML, CSS and Jquery animations.
                            The program was more focused on the functionality of the game. A lot of JavaScript and
                            jQuery was used to alter the CSS and in turn the HTML.
                        </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2">
                        <h5 class="text-warning">Stack Used</h5>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Jquery</li>
                        </ul>
                        <br>
                    </div>


                </div>
            </div>


            <div class="project-stefantrinh">
                <h2 class="text-center">Stefan Trinh Portfolio Site</h2>
                <div class="row mt-4">
                    <div class="col-lg-6 p-3 px-4">
                        <a href="http://www.stefantrinh.co.uk" target="_blank"><button type="btn btn-outline-warning"
                                class="btn btn-danger mb-4">Visit Project</button></a>
                        <a href="https://github.com/stefantrinh1/stefantrinh" target="_blank"><button type="btn btn-outline-warning"
                                class="btn btn-danger mb-4">Github Repository</button></a>
                        <div class="d-flex">
                            <div class="flex-fill">
                                <h5 class="text-warning">Client</h5>
                                <small>Stefan Trinh</small>
                            </div>
                            <div class="flex-fill"></div>
                            <div class="flex-fill text-right">
                                <h5 class="text-warning">Website</h5>
                                <small>stefantrinh.co.uk</small>
                            </div>
                        </div>

                        <div class="text-center">
                            <h5 class="text-warning text-center mt-3">Technologies Used</h5>
                            <img src="{% static 'logos/stacklogos/html5logo.png' %}" class="tech-logo" alt="html5 logo"
                                width="35px">
                            <img src="{% static 'logos/stacklogos/CSS3logo.png' %}" class="tech-logo" alt="css3 logo"
                                width="35px">
                            <img src="{% static 'logos/stacklogos/sasslogo.png' %}" class="tech-logo" alt="sass logo"
                                width="35px">
                            <img src="{% static 'logos/stacklogos/jslogo.png' %}" class="tech-logo" alt="js logo" width="32px">
                            <img src="{% static 'logos/stacklogos/jquerylogo.png' %}" class="tech-logo" alt="jquery logo"
                                width=33px">
                            <img src="{% static 'logos/stacklogos/bootstraplogo.png' %}" class="tech-logo" alt="bootstrap logo"
                                width="40px">
                            <img src="{% static 'logos/stacklogos/pythonlogo.png' %}" class="tech-logo" alt="python logo"
                                width="32px">
                            <img src="{% static 'logos/stacklogos/djangologo.png' %}" class="tech-logo" alt="django logo"
                                width="60px">
                            <img src="{% static 'logos/stacklogos/sqlitelogo.png' %}" class="tech-logo" alt="sqlite logo"
                                width="62px">
                            <img src="{% static 'logos/stacklogos/gitlogo.png' %}" class="tech-logo" alt="git logo"
                                width="60px">
                            <img src="{% static 'logos/stacklogos/macoslogo.png' %}" class="tech-logo" alt="mac os logo"
                                width="23px">
                            <img src="{% static 'logos/stacklogos/photoshoplogo.png' %}" class="tech-logo" alt="photoshop logo"
                                width="30px">
                        </div>

                        <hr>


                        <p>
                            A personal portfolio website for myself. It is an about my website which consists of
                            career and education history. It also displays my portfolio showing all the projects I have
                            created or contributed on. There is also a blog which is powered by Django.</p>

                    </div>
                    <div class="col-lg-6 text-right">

                        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade " data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB1.jpg' %}"
                                        alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB2.jpg' %}"
                                        alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB3.jpg' %}"
                                        alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB4.jpg' %}"
                                        alt="Fourth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB5.jpg' %}"
                                        alt="Fifth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB6.jpg' %}"
                                        alt="Sixth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/STWEB7.jpg' %}"
                                        alt="Seventh slide">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <hr>

                <div class="row">

                    <div class="col-lg-12">

                        <h5 class="text-warning">Design and Graphics</h5>
                        <p>For images I used a mix of my own SLR photography and stock images website Pexels.com. The
                            layout uses a
                            parallax and seperates the page into different sections. Animations.CSS classes are used at
                            the start of
                            each page upon entry, Most of the Mouseover and mouseout are custom made animations applied
                            to logos banners and special buttons.</p>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-warning">The Technical Construction</h5>
                        <p>
                            The website is based on HTML, CSS and Javascript front end and a Python, Django backend.
                            The HTML was built using Bootstrap 4 and using its grid system, nav bars,
                            carousals and many other formatting components. Styling was written in SCSS and then
                            converted
                            in CSS with prepos preproccessor. Both vanilla JavaScript and jQuery were used to implement
                            many CSS
                            alterations on mouseovers. The domain is hosted on 1&1 shared hosting, however, problematic
                            and lack
                            of support of Django on 1&1 with no access to the shell, I had to use another host. Instead
                            of transfering
                            the domain name to another host as I am still in contract with 1&1, I decided to redirect
                            all users to another
                            free domain name on pythonanywhere.com(Cloud Web Host).
                            <br>

                    </div>
                </div>
            </div>

            <div class="project-objectmove">
                <h2 class="text-center">Object Move</h2>
                <div class="row mt-4">
                    <div class="col-lg-6 p-3 px-4">
                        <a href="https://stefantrinh1.github.io/objectmove/" target="_blank"><button type="btn btn-outline-warning"
                                class="btn btn-danger mb-4">Visit Project</button></a>
                        <a href="https://github.com/stefantrinh1/objectmove" target="_blank"><button type="btn btn-outline-warning"
                                class="btn btn-danger mb-4">Github Repository</button></a>
                        <div class="d-flex">
                            <div class="flex-fill">
                                <h5 class="text-warning">Client</h5>
                                <small>Personal Project</small>
                            </div>
                            <div class="flex-fill"></div>
                            <div class="flex-fill text-right">
                                <h5 class="text-warning">Website</h5>
                                <small>stefantrinh1.github.io/objectmove</small>
                            </div>
                        </div>

                        <div class="text-center">
                            <h5 class="text-warning text-center mt-3">Technologies Used</h5>
                            <img src="{% static 'logos/stacklogos/html5logo.png' %}" class="tech-logo" alt="html5 logo"
                                width="35px">
                            <img src="{% static 'logos/stacklogos/jslogo.png' %}" class="tech-logo" alt=" js logo"
                                width="32px">
                            <img src="{% static 'logos/stacklogos/jquerylogo.png' %}" class="tech-logo" alt="jquery logo"
                                width=33px">
                            <img src="{% static 'logos/stacklogos/gitlogo.png' %}" class="tech-logo" alt="git logo"
                                width="60px">
                        </div>

                        <hr>

                        <p>
                            This was a test project while I decided to make. The program moves a selected item around
                            the
                            webpage to any location using arrow buttons or the arrows on the keyboard. it was program I
                            thought might
                            be useful in a application one day, so I saved it as a potential reusable code.</p>

                    </div>
                    <div class="col-lg-6 text-right">

                        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade " data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/OM1.jpg' %}"
                                        alt="First slide">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-warning">The Technical Construction</h5>
                        <p>
                            The project I deemed as a reuseable piece of code. Only a small amount of HTML, CSS was
                            used to demostrate the functionality of the program.
                            it is largely built on Javascript waiting for a click or a key action and then carrying out
                            the movement on a selected element.

                        </p>
                        <br>

                    </div>
                </div>

            </div>
            <div class="project-bankinterface">
                <h2 class="text-center">Bank Interface</h2>
                <div class="row mt-4">
                    <div class="col-lg-6 p-3 px-4">
                        <a href="https://onlinegdb.com/S1qYVGq5m" target="_blank"><button type="btn btn-outline-warning"
                                class="btn btn-danger mb-4">Visit Project</button></a>
                        <a href="https://github.com/stefantrinh1/bankinterface" target="_blank"><button type="btn btn-outline-warning"
                                class="btn btn-danger mb-4">Github Repository</button></a>
                        <div class="d-flex">
                            <div class="flex-fill">
                                <h5 class="text-warning">Client</h5>
                                <small>Personal Project</small>
                            </div>
                            <div class="flex-fill"></div>
                            <div class="flex-fill text-right">
                                <h5 class="text-warning">Website</h5>
                                <small>onlinegdb.com/S1qYVGq5m</small>
                            </div>
                        </div>

                        <div class="text-center">
                            <h5 class="text-warning text-center mt-3">Technologies Used</h5>
                            <img src="{% static 'logos/stacklogos/pythonlogo.png' %}" class="tech-logo" alt="python logo"
                                width="32px">
                            <img src="{% static 'logos/stacklogos/gitlogo.png' %}" class="tech-logo" alt="git logo"
                                width="60px">

                        </div>

                        <hr>


                        <p>
                            This is a Python Project built using Object Orientated Programming. It is a command line
                            program that
                            replicates banking options such as creating an account and basic account functions. This
                            has no GUI and
                            is solely a text based program.</p>

                    </div>
                    <div class="col-lg-6 text-right">

                        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade " data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 rounded border border-warning" src="{%static 'pictures/BI1.jpg' %}"
                                        alt="First slide">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="text-warning">The Technical Construction</h5>
                        <p>
                            The project was created to practice making a program with object orientated programming.
                            I created the bank and accounts as objects with all the objects having their own attributes
                            and
                            methods such as withdrawing and depositing. The information was stored in data structures
                            such as
                            lists and key value pair dictionarys. when visiting the project online click run to test
                            it.

                        </p>
                        <br>

                    </div>
                </div>







            </div>

            <div id="slrscreen"></div>
        </div>
    </div>

</div>

<section class="bg-black p-2 text-center opa75">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="animated slideInRight my-2"> SLR Photography and Photoshop Portfolio</h3>
            <p class="animated slideInLeft mt-2">Here You Will Find A Gallery of My Work. Photgraphy Is a Strong Hobby
                of Mine. </p>
        </div>
    </div>

</section>

<div class="zdrivepara3">
    <br>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="d-block w-100 border-white" src="{%static 'pictures/slrgallery/IMG1.jpg' %}"
                                alt="First slide">
                            <br>
                        </div>

                        <div class="col-lg-6">
                            <img class="d-block w-100 border-white" src="{%static 'pictures/slrgallery/IMG2.jpg' %}"
                                alt="First slide">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="d-block w-100 border-white" src="{%static 'pictures/slrgallery/IMG3.jpg' %}"
                                alt="First slide">
                            <br>
                        </div>
                        <div class="col-lg-6">
                            <img class="d-block w-100 border-white" src="{%static 'pictures/slrgallery/IMG4.jpg' %}"
                                alt="First slide">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="d-block w-100 border-white" src="{%static 'pictures/slrgallery/IMG5.jpg' %}"
                                alt="First slide">
                            <br>
                        </div>
                        <div class="col-lg-6">
                            <img class="d-block w-100 border-white" src="{%static 'pictures/slrgallery/IMG6.jpg' %}"
                                alt="First slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br>
</div>

{% endblock body_block %}