{% extends "centerapp/base.html" %}

{% block body_block %}

<div class="jumbotron">
    <h3>Please Login</h3>
    <h4>Must be Admin User</h4>

    {% if form.errors %}
    <p> Your Username and Password did not match. Please Try Again.</p>

    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Login">
        <input type="hidden" name="next" value="{{next}}">

    </form>

</div>

{% endblock %}