/* ======================================================================================================== */
/* ==========================          TABLE OF CONTENTS         ========================================== */
/* ======================================================================================================== */
/*


>>>Legend<<<
PW = Personal Website
HP = Homepage
para = Parallax
chap = Chapter
des = Description

- Base
- Generic Stylers
- Layout
    = Recurring Content
        > Navbar
    = Pages
        > Home
        > About
        > Z Drive
        > Blog
        > Contact
- Generic Buttons
- Testers

 */

@import "variables";

/* ================       Base      ==================== */


body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 2.5em;
    color: #666;
    //   padding-top: 34px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

a:focus,
a:active {
    text-decoration: none;
    color: $warning-color;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 550px) {
    body {
        font-size: 0.85em
    }
}





/* ================       Layout     ==================== */




/* ======================================================================================================== */
/* =======================            REOCCURING CONTENT            ======================================= */
/* ======================================================================================================== */

/* ================      Navbar     ==================== */


.noborder {
    border: 0px;
}

.nav-items {
    /* border-bottom: white solid 3px; */
    background-color: black;
    opacity: 0.80;
    border-radius: 4%
}




/* ================      Footer     ==================== */


.footer-menu {
    display: block;
    text-align: center;
}

.footer-menu-items {
    display: inline-block;
    text-align: center;
    color: grey;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0% 1%;
}

.footer-vertical-line {
    position: relative;
    width: 2px;
    margin: 0 auto;
    background: $warning-color;
    height: 30px;
}

@media(max-width:780px) {
    .footer-menu-items {
        display: block;
    }
}

.footer-line {
    border-top: $warning-color 1px solid;
    width: 100%;
}

.icon-group {
    padding: 2%;
    margin: 0 auto;
    text-align: center;
}

.social-icon {
    height: 45px;
    width: 45px;
    padding: 1%;
    border-radius: 100px;
    border: solid 1px $warning-color;
    margin: 0% 2px;
}

.btn-contact {
    font-size: 12px;
    color: grey;
    height: 45px;
    width: 200px;
    margin: 0 auto;
    border: grey 2px ridge;
    display: block;
    background: transparent;
}


/* ===============      Generic      =================== */

.chap-title {
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
}

.chap-des {
    color: #ff8b26;
    /* font-family: 'Indie Flower', cursive; */
    letter-spacing: 2px;
}

.opa75 {
    opacity: 0.75;
}

.opa90 {
    opacity: 0.93;
}

.bg-black {
    background-color: black;
}

.center-item {
    display: block;
    margin: 0 auto;
}

.border-white {
    border: solid 5px white;
}

.btn-link {
    cursor: pointer;
    text-decoration: none;
}

.underline {
    border-bottom: #666 solid 2px
}

.fs {
    font-size: 0.8em
}

.float-right {
    float: right;
}

.xs-font {
    font-size: 0.6em;
}

.lg-font {
    font-size: 1.2em;
}


.text-black {
    color: black;
}

.hide {
    display: none;
}

/* ======================================================================================================== */
/* ================================          Pages          =============================================== */
/* ======================================================================================================== */

/* ================     HP Home      ==================== */

.heading {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 35px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.para1,
.para2,
.para3,
.para4,
.zdrivepara1,
.zdrivepara2,
.zdrivepara3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

.para1 {
    background-image: url("images/windowcoffee.jpeg");
    min-height: 250px;
}

.para2 {
    background-image: url("images/headphones.jpeg");
    min-height: 200px;
}

.para3 {
    background-image: url("images/urbandesk.jpeg");
    min-height: 200px;
}

.para4 {
    background-image: url("images/coffeework.jpeg");
    min-height: 100px;
}

@media(max-width:500px) {

    .para1,
    .para2,
    .para3,
    .para4,
    .zdrivepara1,
    .zdrivepara2,
    .zdrivepara3 {
        background-attachment: scroll;
    }
}


.hp-about {
    padding: 2% 2%;
}

.blogpost1 {
    font-size: 20px;
    background-image: url("images/How To Choose Tennis Strings.jpeg");
    background-size: cover;
    border: white solid 2px;

}

.blogpost2 {
    font-size: 20px;
    background-image: url("https://i1.wp.com/macsources.com/wp-content/uploads/2018/03/featured-Sony-CH700N-headphones.jpg?resize=1080%2C675&ssl=1");
    background-size: cover;
    border: white solid 2px;

}

.blogpost3 {
    font-size: 20px;
    background-image: url("images/Guide To Visiting India.jpeg");
    background-size: cover;
    border: white solid 2px;
}

.banner-header {
    opacity: 0.7;
    background-color: black;
    padding: 2%;

    @media(max-width: 750px) {
        font-size: 17px;
    }

    @media(max-width:550px) {
        font-size: 14px;
    }


}

/* ==============         About          =============== */


/* ===========     Z Drive - Projects      ============ */

.portfolio-title {
    font-family: Arial, Helvetica, sans-serif;

}

.zdrivepara1 {
    // background-image: url("images/ZD1.jpeg");
    min-height: 100px;
    background-color: white;
}


.zdrivepara2 {
    background-image: url("images/ZD2.png");
    min-height: 600px;

}

.zdrivepara3 {
    background-image: url("images/ZD3.JPG");
    min-height: 400px;
}

.banner-seftongolf {
    background-image: url("projectbanners/seftongolfbanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.relative {
    position: relative;
    z-index: 999;
}


.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;
    opacity: 0;

}

.banner-text {
    font-size: 1.8em;
    color: white;
    display: inline-block;
    position: relative;
    padding-top: 40px;

    @media(max-width: 991px) {
        padding-top: 17px;
        font-size: 1.4em;
    }

    @media(max-width:767px) {
        font-size: 1.0em;
        padding-top: 2px;

    }

    @media(max-width:450px) {
        font-size: 0.7em;

    }

}

.project-seftongolf {
    display: inline;
}

.project-connect4 {
    display: none;
}

.project-stefantrinh {
    display: none;
}

.project-objectmove {
    display: none;
}

.project-bankinterface {
    display: none;
}


/* ===============        Blog        ================ */

// Nav Bar For Blog page, Login, New Post, Draft Etc

.post-options-bar {
    a {
        padding: 7px 5px;
        color: $warning-color;
    }

    ;
    background-color: initial;
    border-radius: 4%;
    background-color: black;
    color: white;
    padding: 5px;
    // font-size: 2.0em;
    z-index: 1;


    a:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    div {
        padding: 0px;
        color: $warning-color;
    }

}

.collasper {
    display: none;
}

@media (max-width: 991px) {
    .post-options-bar a:not(:first-child) {
        display: none;
    }

    .post-options-bar div {
        display: none;
    }

    .post-options-bar a.collasper {
        float: left;
        display: block;

    }

    .post-options-bar {
        background-color: unset;
        background-color: grey !important;
    }

    .post-options-bar.responsive a {
        float: none;
        display: block;
        text-align: left;
        // background: grey;

    }

    .post-options-bar.responsive {
        float: none;
        display: block;
        text-align: left;

        // background: grey;
        div {
            display: block;


        }

        ;

        .dropdown-content {
            display: none;
        }

        ;

        .dropdown-content:hover {
            display: block !important;


        }

    }

    // .dropdown-content a{
    //     // overflow: hidden;
    //     display: hidden !important;
    //     width: 205px;
    //     background-color: black;

    //     }



}

.dropdown-content {
    overflow: hidden;
    display: none;
    position: absolute;
    width: 125px;
    background-color: black;
}

.dropdown {
    display: inline;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {

    display: block;
}



//======post_list Page CSS Settings =====

.publishedinfo {
    float: right;
}

.postlisttext {
    color: grey;
}

.smallsocialicon {
    height: 30px;
    width: 30px;
}

// .blog-bg{
//     // background-color: #D3D3D3;
// }

.blogposts {
    color: black;

    a {
        color: black;
    }

    a:hover {
        color: rgb(172, 172, 172);
    }
}

.blog-side-extras {
    @media(max-width: 575px) {
        text-align: center;
    }
}

.text-expand {
    display: inline-block;
}

.cuisinemenu {
    display: block
}

.backtocuisine {
    display: none;
}

.restaurantsmenu {
    display: none;
}

/* ===============  Acknowledgements   ================ */

.acknowledgements {

    table,
    tr,
    td {
        border: solid 2px black;
    }

    a:hover {
        color: black;
    }
}

/* ===============  Generic Buttons   ================ */


/* ===============      testers       =============== */

.backgroundtest {
    background-color: red;
}

.width100 {
    width: 100%;
}

.form-input-box {
    border: grey 2px solid;
    width: 50%;

    @media(max-width: 768px) {
        width: 75%;
    }




}