{% extends "centerapp/base.html" %}
{% load staticfiles %}

{% block body_block %}
<a class="btn-link" href="{% url 'post_list' %}"><button class="btn btn-warning"><img src="{%static 'logos/backicon.png' %}"></button></a>
<br><br><br><br>
<div class="container">
  <h3>New Cuisine</h3>
  <br>
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <br>
    <button type="submit" class="btn btn-primary">Submit Cuisine</button>
  </form>
  <br><br>
  <h4>Current Cuisines</h4>
  {% for cuisine in cuisine_objects %}
  <h6>{{cuisine}}</h6>
  {% endfor %}

</div>
<br><br>

{% endblock %}