{% extends "centerapp/base.html" %}
{% load staticfiles %}
{% block body_block %}
<a class="btn-link" href="{% url 'post_list' %}"><button class="btn btn-warning"><img src="{%static 'logos/backicon.png' %}"></button></a>
<div class="container px-5 animated zoomIn">
    <br>

    <span>
        <h2 class="text-success">{{post.title}}</h2>

        {% if post.published_date %} {% comment %} if the user is logged in and the post has been published, shows the
        date it was published{% endcomment %}

        {{post.published_date|date:'d M Y'}}

        {% else %} {% comment %} if it has not been published and is still a draft it gives the option to publish it.
        {% endcomment %}

        <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>

        {% endif%}
    </span>

    {% if user.is_authenticated %} {% comment %} gives the user admin buttons if they are authenticated/logged in {%
    endcomment %}

    <a class="btn btn-danger float-right mx-1" href="{% url 'post_remove' pk=post.pk %}">
        Remove<span class="glyphicon glyphicon-remove"></span>
    </a>

    <a class="btn btn-warning float-right mx-1" href="{% url 'post_edit' pk=post.pk %}">
        Edit<span class="glyphicon glyphicon-pencil"></span>
    </a>

    {% endif%}



    <hr>

    <div class="text-black">
        <p class="underline">{{post.text|safe|linebreaks}}</p> {% comment %} Displays the main text of the blog {%
        endcomment %}
    </div>

    <hr>


    <form method="POST">
        {% csrf_token %}
        <h4>Leave A Comment</h4>
        {{form.as_p|safe}}

        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>


    {% comment %} <a class="btn btn-primary btn comment float-right" href="{% url 'add_comment_to_post' pk=post.pk %}">
        X Add Comment</a> {% endcomment %}
    <a id='COMMENTS'></a>
    <small>comments:{{post.approved_comments.count}}</small>
    <hr>
    {% for comment in post.comments.all %}

    <hr>
    <span class="text-dark">{{comment.text|safe}}</span>
    <small class=""> on {{comment.created_date}} by <strong>{{comment.author}}</strong></small>

    {% if user.is_authenticated%}
    <a class="btn btn-danger float-right" href="{% url 'comment_remove' pk=comment.pk %}"><span class=""><small>Remove</small></span></a>
    {% comment %} <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok">Approve</span></a>
    {% endcomment %}
    {% endif %}

    {% empty %}
    <p>No Comments Posted</p>

    {% endfor %}


</div>
<br><br>
{% endblock %}