{% extends "centerapp/base.html" %}
{% load staticfiles %}

{% block body_block %}
<div class="container">
    <br><br><br>
    <h3>Draft list</h3>

    <p>Here are a list of draft posts that are ready to be published on command</p>

    {% for post in post_list %}

    <div class="">
        <a class="text-warning" href="{% url 'post_detail' pk=post.pk %}">
            <h4>{{post.title}}</h4>
        </a>

        <span class="postlisttext"></span>{{post.text|truncatechars:280|striptags}}.. <a href="{% url 'post_detail' pk=post.pk %}">Read
            More</a></span><br>
        <span><a class='' href="{% url 'post_detail' pk=post.pk %}#COMMENTS"> <small> comments: {{
                    post.approved_comments.count }}</small></a>
        </span>
        <span class="publishedinfo"><small>Published on: {{ post.published_date|date:"d M Y" }} by</small> <strong>{{post.author}}</strong></span>


        <hr>

    </div>

    {% endfor %}

</div>
{% endblock %}