{% extends "centerapp/base.html" %}

{% block body_block %}


<div class="jumbotron">
    <h1>New post</h1>
    <form class="post-form" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Post</button>

    </form>



</div>



{% endblock %}