{% extends "centerapp/base.html" %}
{% load staticfiles %}

{% block body_block %}
<a class="btn-link" href="{% url 'post_list' %}"><button class="btn btn-warning"><img src="{%static 'logos/backicon.png' %}"></button></a>
<div class="jumbotron">
    <h1>Delete Post</h1>
    <form method="post">
        {% csrf_token %}
        <p>are you sure you want to delete {{ object }}?</p>

        <input type="submit" class="btn btn-danger" value='Confirm'>

    </form>
</div>

{% endblock %}