{% extends "centerapp/base.html" %}
{% load staticfiles %}

{% block body_block %}

<div class="blog-bg">




    <div class="post-options-bar navbar navbar-expand-sm animated zoomIn" id="postOptions">
        {% if user.is_authenticated %}

        <a onclick="hamburgerExpand()" class="collasper"><img src="https://png.pngtree.com/svg/20170331/hamburger_menu_9240.png"
                alt="" height=25 width=25> Post Options</a>

        <a style="cursor:auto"><small>Welcome:</small> <strong> {{user.username}}</strong></a>

        <a href="{% url 'post_new' %}"> New Post</a>

        <a href="{% url 'post_draft_list' %}">Drafts</a>


        <div class="dropdown">

            <a class="restaurant-btn">Restaurants <img src="{%static 'logos/arrowdown.png' %}" alt="" height="11"></a>

            <div class="dropdown-content">
                <a class="restaurant-option" href="{% url 'new_cuisine' %}">New Cuisine</a>

                <a class="restaurant-option" href="{% url 'new_restaurant' %}">New Restaurant</a>
            </div>

        </div>


        <a href="{% url 'logout' %}"> Logout</a>
    </div>

    {% else %}
    <a class="nav navbar-right" href="{% url 'login' %}">Login<span class=""></span></a>
    {% endif %}


</div>




<div class="container blogposts animated zoomIn">
    <div class="container row">
        <section class="mt-3">
            <h4 class="underline mb-3">Welcome Blogster</h4>

            <p class=""><strong>Blog</strong> - A place where you can find articles, guides, recommendations and blog
                posts. Influential or not,
                we all should make a contribution to the web and share any knowledge we can offer.</p>
            <p class=""><strong>Restaurants</strong> - There are restaurant recommendations sorted by cuisine. Here you
                can find restaurants that I found excellent while travelling.</p>
            <p class=""><strong>Followings</strong> - These are other interesting blogs and people I have come across.</p>
        </section>
    </div>
    <div class="row">
        <div class="col-lg-8 bg-light">
            <span class="underline">Topics Covered <br></span>
            <span class="">
                <span class="mr-3"> Tennis </span>
                <span class="mr-3"> Electronics and Tech </span>
                <span class="mr-3"> Food & Restaurants</span>
                <span class="mr-3"> Travel</span>
            </span>

            <h3 class="text-center mt-3">Food</h3>
            {% comment %}
            all images are a 3:2 ratio and a pixel width of around 1000
            {% endcomment %}
            <hr>
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="d-flex flex-nowrap">
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/foodgallery/food1.jpg' %}"
                                        alt="First slide">
                                    <br>
                                </div>
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/foodgallery/food2.jpg' %}"
                                        alt="Second Slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="d-flex flex-nowrap">
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/foodgallery/food3.jpg' %}"
                                        alt="Third slide">
                                    <br>
                                </div>
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/foodgallery/food4.jpg' %}"
                                        alt="Fouth slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="d-flex flex-nowrap">
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/foodgallery/food5.jpg' %}"
                                        alt="Fifth slide">
                                    <br>
                                </div>
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/foodgallery/food6.jpg' %}"
                                        alt="Sixth slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="d-flex flex-nowrap">
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/foodgallery/food7.jpg' %}"
                                        alt="Seventh slide">
                                    <br>
                                </div>
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/foodgallery/food8.jpg' %}"
                                        alt="Eighth slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="d-flex flex-nowrap">
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/foodgallery/food9.jpg' %}"
                                        alt="Ninth slide">
                                    <br>
                                </div>
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/foodgallery/food10.jpg' %}"
                                        alt="Ten slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <h1 class="">Post List</h1>
            <div class="mb-3" id="latestblogs">
                <h5 class="my-3">Latest</h5>

            </div>


            <!-- LEGACY - was using DIRECT ACCESS TO DATABASE NOW USING REST API. -->
            <!-- {% for post in post_list %}
                <div class="">
                    <a class="text-warning text-expand" href="{% url 'post_detail' pk=post.pk %}"> <h3>{{post.title}}</h3></a><br>
                    <span class="postlisttext"></span>{{post.text|truncatechars:280|striptags}}.. <a href="{% url 'post_detail' pk=post.pk %}"> <span class="text-muted">Read More</span></a></span><br>
                    <span><a class='' href="{% url 'post_detail' pk=post.pk %}#COMMENTS"> <small> comments: {{ post.approved_comments.count }}</small></a>
                    </span>
                    <span class="publishedinfo"><small>Published on: {{ post.published_date|date:"d M Y" }} by</small> <strong>{{post.author}}</strong></span>
                <hr>
                </div>
            {% endfor %} -->

            <a class="text-expand text-center" id="seemoreposts">
                <h5 class="text-warning text-center"><img src="{%static 'logos/arrowdown.png' %}" alt="" height="35">
                    See More Posts</h5>
            </a>


            <hr>
            <h3 class='text-center'>Travel</h3>
            <hr>
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="d-flex flex-nowrap">
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/travelgallery/travel1.jpg' %}"
                                        alt="First slide">
                                    <br>
                                </div>
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/travelgallery/travel2.jpg' %}"
                                        alt="Second slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="d-flex flex-nowrap">
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/travelgallery/travel3.jpg' %}"
                                        alt="Third slide">
                                    <br>
                                </div>
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/travelgallery/travel4.jpg' %}"
                                        alt="Fourth slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="d-flex flex-nowrap">
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/travelgallery/travel5.jpg' %}"
                                        alt="Fifth slide">
                                    <br>
                                </div>
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/travelgallery/travel6.jpg' %}"
                                        alt="Sixth slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="d-flex flex-nowrap">
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/travelgallery/travel7.jpg' %}"
                                        alt="Seventh slide">
                                    <br>
                                </div>
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/travelgallery/travel8.jpg' %}"
                                        alt="Eighth slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="d-flex flex-nowrap">
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/travelgallery/travel9.jpg' %}"
                                        alt="Nine slide">
                                    <br>
                                </div>
                                <div class="">
                                    <img class="d-block w-100 border-white" src="{%static 'pictures/travelgallery/travel10.jpg' %}"
                                        alt="Tenth slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>



        </div>

        <!-- side panel -->
        <div class="col-lg-1"></div>

        <div class="col-lg-3 col-md-12 bg-light blog-side-extras">
            <div class="row">
                <div class="col-lg-12 col-sm-6">

                    <div class="underline mb-4">Most Popular Blogs <span class="xs-font."></span></div>
                    {% comment %}to be implemented order by comments.{% endcomment %}
                    {% comment %} {% post_list.sort(key=lambda approved_comments.count reverse=True) %} {% endcomment
                    %}

                    {% for post in popular_post_objects%}
                    <p><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a>
                        <small>Comments:{{post.approved_comments.count}}</small></p>
                    <hr>

                    {% endfor %}



                    <div class="underline mb-2">
                        <h4>Restaurant Recommendations</h4>
                    </div>
                    <span class="cuisinemenu text-warning lg-font mb-2"><strong>Select a Cuisine!</strong></span>
                    <span class="restaurantsmenu"><strong>Select a Restaurant</strong>
                        <button onclick="backToCuisine()" class="btn btn-warning backtocuisine float-right">Back</button>
                    </span>


                    <div class="fs cuisinemenu">
                        {% comment %} also the js file needs a cuisine to be added to the backToCuisine function with a
                        display of none {% endcomment %}
                        {% comment %} Automaticing the cuisine is in the plans {% endcomment %}
                        <div class="row lg-font">
                            {% for cuisine in cuisine_objects %}

                            <div class="col-6">
                                <a onclick="displayRestaurants(this,'{{cuisine}}')">
                                    <p class="text-expand">{{cuisine}}</p>
                                </a>
                            </div>


                            {% endfor %}
                        </div>

                    </div>

                    <div class="fs restaurantsmenu">
                        {% comment %} The restaurants and cusines are stored in the backend. and entered using a form
                        when logged in as a auth user. {% endcomment %}
                        {% comment %} The display style none important otherwise the restaurant with show up in any
                        cuisine that is clicked {% endcomment %}
                        {% for restaurant in restaurant_objects %}

                        <a href="{{restaurant.website}}" class="{{restaurant.cuisine}}" style="display: none" target="_blank">
                            <p>{{restaurant}} - {{restaurant.city}}, {{restaurant.country}}</p>
                        </a>

                        {% endfor %}


                    </div>
                    <hr>
                </div>

                <div class="col-lg-12 col-sm-6">

                    <div class="underline my-2">Instagram</div>
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" id="instagramSlide">
                            <!-- content is inserted dyanmically with JS here by an instagram API Pull do not edit or delete the carousel -->

                        </div>
                    </div>


                    <div class="underline my-2">Follow Me</div>
                    <a class="text-expand" href="https://github.com/stefantrinh1" target="_blank"><img class="smallsocialicon"
                            src="{%static 'logos/githublogowarning.png' %}" alt="Github"></a>
                    <a class="text-expand" href="https://www.facebook.com/Stefantrinh1" target="_blank"><img class="smallsocialicon"
                            src="{%static 'logos/facebooklogowarning.png' %}" alt="Facebook"></a>
                    <a class="text-expand" href="https://www.instagram.com/stefantrinh/" target="_blank"><img class="smallsocialicon"
                            src="{%static 'logos/instagramlogowarning.png' %}" alt="Instagram"></a>
                    <a class="text-expand" href="https://www.linkedin.com/in/stefan-trinh-6a223262/" target="_blank"><img
                            class="smallsocialicon" src="{%static 'logos/linkedinlogowarning.png' %}" alt="Linkedin"></a>
                    <a class="text-expand" href="https://twitter.com/Stefantrinh" target="_blank"><img class="smallsocialicon"
                            src="{%static 'logos/twitterlogowarning.png' %}" alt="Twitter"></a>
                    <a class="text-expand" href="https://www.youtube.com/channel/UCRa8XzgTayu_ooGKYxynvAw?view_as=subscriber"
                        target="_blank"><img class="smallsocialicon" src="{%static 'logos/youtubelogowarning.png' %}"
                            alt="YouTube"></a>

                    <div class="underline my-2">Following</div>
                    <div class="fs">
                        <a class="text-expand" href="http://www.journalofz.com/" target="_blank">Journal of Z - Blogger</a><br>
                        <a class="text-expand" href="https://www.instagram.com/d.arkhipov/" target="_blank">Dmitry
                            Arkhipov - Photographer</a><br>
                        <a class="text-expand" href="https://www.thewongblog.com/" target="_blank">The Wong Blog -
                            Travel & Food Blog</a><br>
                        <a class="text-expand" href="https://www.instagram.com/paulnicklen/?hl=en" target="_blank">Paul
                            Nicklen - Photographer</a><br>
                        <a class="text-expand" href="https://peterseftongolf.com/" target="_blank">Peter Sefton -
                            Professional Golfer</a><br>
                        <a class="text-expand" href="https://www.tonytokafilm.com/" target="_blank">Tony Toka - Tv &
                            Film</a><br>
                    </div>


                    <div class="underline my-3">My Tech</div>
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="https://cnet3.cbsistatic.com/img/Y-n9n9egLm5EqHxSzktW6Z3VQlY=/830x467/2011/02/25/7025d5ce-cc2e-11e2-9a4a-0291187b029a/apple-macbook-pro-15_1.jpg"
                                    alt="First slide" height=175 width=175>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://brain-images-ssl.cdn.dixons.com/6/2/10178526/l_10178526_001.jpg"
                                    alt="Second slide" height=200 width=200>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://store.storeimages.cdn-apple.com/4667/as-images.apple.com/is/image/AppleInc/aos/published/images/r/fb/rfb/ipad/rfb-ipad-air-silver-cellular-2014?wid=572&hei=572&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=0"
                                    alt="Third slide" height=200 width=200>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
</div>
<br><br>



<script src="{%static 'js/blog.js' %}"></script>

{% endblock %}