{% extends "centerapp/base.html" %}
{% load staticfiles %}

{% block body_block %}
<a class="btn-link" href="{% url 'post_list' %}"><button class="btn btn-warning"><img src="{%static 'logos/backicon.png' %}"></button></a>
<br><br><br><br>
<div class="container">
  <h3>New Resturant</h3>
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Submit Resturant</button>
  </form>
</div>
<br><br>

{% endblock %}